body { 
 background-color: #f4f4f4; 
 display: flex; 
 justify-content: center;
 padding-top: 50px; 
 }
.container { 
background: white; 
padding: 20px; 
 width: 300px;
 }
h1 { text-align: center;
 color: #333;
 }
.formulaire { 
display: flex;
 margin-bottom: 20px; 
 }
input {
 flex: 1;
 padding: 8px;
 border: 1px solid #ddd; 
 }
button { 
padding: 8px;
 background: #2ecc71;
 color: white;
 border: none;
 cursor: pointer;
 }
ul { list-style: none; padding: 0; }
li { background: #eee; margin-bottom: 5px; padding: 10px; display: flex; justify-content: space-between; border-radius: 4px; cursor: pointer; }
.completed {
text-decoration: line-through; 
color: gray; 
background: #d4edda; 
}
.delete-btn { 
color: red; 
 font-weight: bold; 
 cursor: pointer; 
 }
